<h1>Welcome to Trailgen.</h1>
<h3>Trailgen is an easy way to find the right trail for you.</h3>

<div class="input-group walklength">
	<label for="walklength">Generate a {{walklength}} minute walk</label>
	<input name="walklength" class="form-control" type="range" ng-model="walklength" min="30" max="360" step="5" placeholder="10">
	<a ng-href="#/results" class="btn btn-raised btn-success">Get Started</a>
</div>

<style type="text/css">
	.walklength {
		display: block;
	}

	.walklength input {
		width: 75% !important;
		display: block;
	}
</style>