<!-- Logo :D -->
<img src="logo-assets/LogoSemifinal.svg">

<div class="jumbotron" style="text-align: center;">
	<h1 class="display-3"><b>Welcome to Trailgen.</b></h1>
	<p class="lead">Trailgen is an easy way to find the right trail for you.</p>
	<h6> To begin, select a Time, or Calorie number. Then your weight, and aproximate walking speed. <br>
	Then, when you are ready, click <em> Get Started <em>
	<h6>
</div>
<br>
<div id="basicSearchBox"></div>
<ul id="basicSearchBoxResults"></ul>
<!-- <input class="form-control search" type="text" name="search" ng-model="search" placeholder="My Location"> -->
<br>
<div class="input-group sliders walklength">
	<label for="walklength">Generate a {{(walklength/60) | number:1}} Hour walk</label>
	<div><span style="float:left;">30 Minutes</span><span>5 Hours</span><span style="float:right;">10 Hours</span></div>
	<input style="margin-left:5%;" name="walklength" class="form-control" type="range" ng-model="walklength" min="30" max="600" step="5" placeholder="10">
</div>
<br>
<div class="input-group sliders Speed">
	<label for="Speed">At {{Speed}}KPH</label>
	<div><span style="float:left;">Slow Walk</span><span>Normal Walk</span><span style="float:right;">Fast Walk</span><span></span></div>
	<input style="margin-left:5%;" name="Speed" class="form-control" type="range" ng-model="Speed" min="1" max="10" step="0.2" placeholder="10">
</div>
<br>
<div class="input-group sliders Weight">
	<label for="Weight">For a weight of {{Weight | number:2}}KG</label>
	<div><span style="float:left;">30KG</span><span>115KG</span><span style="float:right;">200KG</span></div>
	<input style="margin-left:5%;" name="Weight" class="form-control" type="range" ng-model="Weight" min="30" max="200" step="5" placeholder="10">
</div>
<br>
<div class="input-group sliders Calories">
	<label for="Calories">Burn {{Calories}} Calories or {{Calories*4.184 | number:2}} kJ's ({{Calories/295 | number:2}} Burgers)</label>
	<div><span style="float:left;">1 Carrot/0.1 Burgers</span><span>28 Carrots/3.3 Burgers</span><span style="float:right;">57 Carrots/6.7 Burgers</span></div>
	<input style="margin-left:5%;" name="Calories" class="form-control" type="range" ng-model="Calories" min="30" max="2000" step="5" placeholder="10">
</div>


</form>


<a ng-href="#/results/{{walklength}}/{{search}}" class="btn btn-block btn-raised btn-success">Get Started</a>

<style type="text/css">
.search {
    width: 50%;
    margin: auto;
}
	.sliders {
		display: block;
	}

	.sliders input {
		width: 75% !important;
		display: block;
	}
	img.ng-scope {
		width: 300px;
		margin: auto;
		position: relative;
		text-align: center;
		margin-left: calc(50% - 150px );
		margin-bottom: 0;
	}

	.jumbotron.ng-scope {
		padding-top: 0px;
	}
	.page-welcome {
		background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgba(255,255,255,0) 40%), linear-gradient(to bottom, rgb(236, 238, 239) 0%,rgb(236, 238, 239) 100%);
		background-repeat: repeat-x, no-repeat;
	}
	.jumbotron.ng-scope {
		background: transparent;
	}
</style>

